.sidebar {
  text-align: center;
  background-color: $main;
  width: 180px;
  float: left;
  color: $accent-text;
  padding-top: 50px;
  height: 800px;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $accent-text;
    box-sizing: border-box;
    height: 150px;
    width: 180px;
    cursor: pointer;
    outline: none;

    svg {
      fill: $accent-text;
      margin-bottom: 16px;
    }

    &.router-link-exact-active {
      background-color: $sidebar-active;
      color: $active-text;

      svg {
        fill: $active-text;
      }

    }
  }
}

