$main: #b0287a;
$accent-text: #ffffff;
$main-text: #405f77;
$h-text:#27353e;
$bg-table-head:$main-text;
$bg-table-tr-active:#99d448;
$button:#eb35a3;
$button-focus:#942167;
$bg-table-tr-even:#f9f9f9;
$bg-table-border:#eeeeee;
$active-text:#5f5f69;
$sidebar-active:#ffffff;
$button-lock:#aaaaaa;

